﻿body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
    font-family: Poppins;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

.m-filter .m-filter__item {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.m-filter.m-filter--default .m-filter__item {
    margin-bottom: 1rem;
}

.m-filter .m-filter__item--info {
    border: 1px solid #36a3f7 !important;
}

.m-filter .m-filter__item--info .m-filter__item-head, .m-filter .m-filter__item--info .m-filter__item-head:hover {
    background-color: #1d98f6 !important;
}

.m-filter .m-filter__item .m-filter__item-head {
    display: table;
    padding: 1rem 2rem;
    width: 100%;
    overflow: hidden;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.m-filter .m-filter__item .m-filter__item-head .m-filter__item-icon {
    display: table-cell;
    vertical-align: middle;
    line-height: 0;
    padding-right: 1rem;
}

.m-filter .m-filter__item--info .m-filter__item-head > span {
    color: #fff !important;
}

.m-filter .m-filter__item .m-filter__item-head .m-filter__item-title {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    font-size: 1.2rem;
}

.m-filter .m-filter__item .m-filter__item-body .m-filter__item-content, .m-filter .m-filter__item .m-filter__item-body > span {
    padding: 1.5rem 2rem;
}