<script src="~/js/Common.js"></script>
<script src="~/js/SecureAccess/MstPrivilegeMenu.js"></script>
<div class="card pnlHeader">
    <div class="card-header">
        <div class="data-table-main icon-list-demo">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 outer-ellipsis">
                <i class="icofont icofont-list"></i><h5>Master .....</h5>
               </div>
               <div class="col-md-6 text-right">
                    <button class="btn btn-primary btn-round btnAddData">Add More</button>
               </div>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive table-responsive">
            <table id="tblMstPrivilegeMenu" class="table table-striped table-hover table-bordered nowrap">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Mst Privilege Menu Id</th>
                        <th>Action Id</th>
                        <th>Role Id</th>
                        <th>Is Create</th>
                        <th>Is Update</th>
                        <th>Is Delete</th>
                        <th>Role Name</th>
                        <th>Action Name</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="card pnlDetail">
    <div class="card-header">
        <div class="data-table-main icon-list-demo">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 outer-ellipsis">
                    <i class="icofont icofont-list"></i><h5>Form Input .....</h5>
               </div>
            </div>
        </div>
    </div>
    <div class="card-block">
        <form id="MstPrivilegeMenuForm" method="post" novalidate="">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Mst Privilege Menu Id</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="MstPrivilegeMenuId" id="MstPrivilegeMenuId" placeholder="Text Input Mst Privilege Menu Id">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Role Id</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="RoleId" id="RoleId" placeholder="Text Input Role Id">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Action Id</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="ActionId" id="ActionId" placeholder="Text Input Action Id">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Is Create</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="IsCreate" id="IsCreate" placeholder="Text Input Is Create">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Is Update</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="IsUpdate" id="IsUpdate" placeholder="Text Input Is Update">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Is Delete</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="IsDelete" id="IsDelete" placeholder="Text Input Is Delete">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary m-b-0 btnSubmit"><i class="icofont icofont-save"></i> Submit</button> &nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-warning m-b-0 btnCancel"><i class="icofont icofont-close-line-circled"></i> Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
