﻿
@{
    ViewBag.Title = "Dashboard Data Analitics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/Common.js"></script>
<script src="~/js/Dashboard/DataAnalitics.js"></script>

@*<script src="~/js/Dashboard/vwDetailChartCategoryUtilized.js"></script>*@
<script src="~/Content/global/scripts/amchart.4.5.9_core.js"></script>
    <script src="~/Content/global/scripts/amchart4.js"></script>
@*<script src="https://code.highcharts.com/highcharts.js"></script>*@
<script src="~/Content/global/scripts/animated.js"></script>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>*@
<script src="https://code.highcharts.com/highcharts.js"></script>

<div class="m-content" id="divSummary">
    <!--<div class="row">
        <div class="col-lg-12">-->
            <!--begin:: Widgets -->
            <!--<div class="m-portlet">
                <div class="m-widget14" style="padding-top:15px">
                    <div class="m-widget14__header m--margin-bottom-10">
                        <h3 class="m-widget14__title">
                            Filter
                        </h3>
                        <br />
                        <div class="m-portlet__foot" style="padding-bottom: 0px"></div>
                        <div class="m-form m-form--label-align-right">
                            <br />
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <div class="m-form__group m-form__group--inline">
                                        <div class="m-form__label col-sm-6">
                                            <label class="m-label m-label--single">
                                                Metode:
                                            </label>
                                        </div>
                                        <div class="m-form__control col-sm-6">
                                            <select class="selectpicker m-bootstrap-select" id="slsnamelist"></select>
                                        </div>
                                    </div>
                                    <div class="d-md-none m--margin-bottom-10"></div>
                                </div>
                            </div>
                            <br />
                            <div class="row align-items-center">
                                <div class="col-md-2">
                                    <div class="m-form__group m-form__group--inline">
                                        <div class="m-form__control col-sm-6">
                                            <button class="btn btn-info" type="button" id="btnshow">Show</button>
                                        </div>
                                    </div>
                                </div>-->
                                <!--<div class="d-md-none m--margin-bottom-10"></div> -->
                            <!--</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <!--begin:: Widgets/Tasks -->
            <div class="m-portlet" id="divByAccuracy">
                <div class="m-widget14" style="padding-top:15px">
                    <div class="m-widget14__header m--margin-bottom-10">
                        <h3 class="m-widget14__title">
                            Category Utilized
                        </h3>
                    </div>
                    <div class="m-widget14__chart">
                        <div id="DashByAccuracy" style="width: auto; height: 500px;"></div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Tasks -->
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <!--begin:: Widgets/Tasks -->
            <div class="m-portlet" id="divByAccuracy">
                <div class="m-widget14" style="padding-top:15px">
                    <div class="m-widget14__header m--margin-bottom-10">
                        <h3 class="m-widget14__title">
                            Accuracy
                        </h3>
                    </div>
                    <div class="m-widget14__chart">
                        <div id="DashByAccuracyData" style="width: auto; height: 500px;"></div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Tasks -->
        </div>

        @*<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">*@
            <!--begin:: Widgets/Support Tickets -->
            <!--<div class="m-portlet" id="divByPecission">
                <div class="m-widget14" style="padding-top:15px">
                    <div class="m-widget14__header m--margin-bottom-10">
                        <h3 class="m-widget14__title">
                            Precission
                        </h3>
                    </div>
                    <div class="portlet-body">-->
                        @*m-widget14__chart*@
                        <!--<div id="dashByPecission" style="width: auto; height: 500px;"></div>-->
                        @*<br />
                        <p class="text-center"><b>Case By Status</b></p>*@
                    <!--</div>
                </div>
            </div>-->
            <!--end:: Widgets/Support Tickets -->
        @*</div>*@
    </div>
    <!--<div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <!--begin:: Widgets/Tasks -->
            <!--<div class="m-portlet" id="divBySeverity">
                <div class="m-widget14" style="padding-top:15px">
                    <div class="m-widget14__header m--margin-bottom-10">
                        <h3 class="m-widget14__title">
                            Mean
                        </h3>
                    </div>
                    <div class="m-widget14__chart">
                        <div id="dashBySeverity" style="width: auto; height: 500px;"></div>-->
                        @*<br />
                            <p class="text-center"><b>Case By Severity</b></p>*@
                    <!--</div>
                </div>
            </div>-->
            <!--end:: Widgets/Tasks -->
        <!--</div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">-->
            <!--begin:: Widgets/Support Tickets -->
            <!--<div class="m-portlet" id="divByStatus">
                <div class="m-widget14" style="padding-top:15px">
                    <div class="m-widget14__header m--margin-bottom-10">
                        <h3 class="m-widget14__title">
                            MAE
                        </h3>
                    </div>
                    <div class="m-widget14__chart">
                        <div id="dashByStatus" style="width: auto; height: 500px;"></div>-->
                        @*<br />
                            <p class="text-center"><b>Case By Status</b></p>*@
                    <!--</div>
                </div>
            </div>-->
            <!--end:: Widgets/Support Tickets -->
        <!--</div>
    </div>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">-->
            <!--begin:: Widgets/Tasks -->
            <!--<div class="m-portlet" id="divBySeverity">
                <div class="m-widget14" style="padding-top:15px">
                    <div class="m-widget14__header m--margin-bottom-10">
                        <h3 class="m-widget14__title">
                            RMSE
                        </h3>
                    </div>
                    <div class="m-widget14__chart">
                        <div id="dashBySeverity" style="width: auto; height: 500px;"></div>-->
                        @*<br />
                            <p class="text-center"><b>Case By Severity</b></p>*@
                    <!--</div>
                </div>
            </div>-->
            <!--end:: Widgets/Tasks -->
        <!--</div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">-->
            <!--begin:: Widgets/Support Tickets -->
            <!--<div class="m-portlet" id="divByStatus">
                <div class="m-widget14" style="padding-top:15px">
                    <div class="m-widget14__header m--margin-bottom-10">
                        <h3 class="m-widget14__title">
                            Standar Deviation
                        </h3>
                    </div>
                    <div class="m-widget14__chart">
                        <div id="dashByStatus" style="width: auto; height: 500px;"></div>-->
                        @*<br />
                            <p class="text-center"><b>Case By Status</b></p>*@
                    <!--</div>
                </div>
            </div>-->
            <!--end:: Widgets/Support Tickets -->
        <!--</div>
    </div>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">-->
            <!--begin:: Widgets/Tasks -->
            <!--<div class="m-portlet" id="divBySeverity">
                <div class="m-widget14" style="padding-top:15px">
                    <div class="m-widget14__header m--margin-bottom-10">
                        <h3 class="m-widget14__title">
                            Positive Value
                        </h3>
                    </div>
                    <div class="m-widget14__chart">
                        <div id="dashBySeverity" style="width: auto; height: 500px;"></div>-->
                        @*<br />
                            <p class="text-center"><b>Case By Severity</b></p>*@
                    <!--</div>
                </div>
            </div>-->
            <!--end:: Widgets/Tasks -->
        <!--</div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">-->
            <!--begin:: Widgets/Support Tickets -->
            <!--<div class="m-portlet" id="divByStatus">
                <div class="m-widget14" style="padding-top:15px">
                    <div class="m-widget14__header m--margin-bottom-10">
                        <h3 class="m-widget14__title">
                            Negative Value
                        </h3>
                    </div>
                    <div class="m-widget14__chart">
                        <div id="dashByStatus" style="width: auto; height: 500px;"></div>-->
                        @*<br />
                            <p class="text-center"><b>Case By Status</b></p>*@
                    <!--</div>
                </div>
            </div>-->
            <!--end:: Widgets/Support Tickets -->
        <!--</div>-->
    <!--</div>-->
</div>

<div class="m-content pnlHeader">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Detail Kecerdasan
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="m-portlet__body">
                    <!--begin: Search Form -->
                    <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                        <div class="row align-items-center">
                            <div class="col-xl-8 order-2 order-xl-1">
                                <div class="form-group m-form__group row align-items-center">
                                    <div class="col-md-5">
                                        <div class="m-form__group m-form__group--inline">
                                            <div class="m-form__label">
                                                <label class="m-label m-label--single">
                                                    <span>
                                                        Search:
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="m-form__control">
                                                <select class="form-control m-bootstrap-select" id="slsKecerdasan"></select>
                                            </div>
                                        </div>
                                        <div class="d-md-none m--margin-bottom-10"></div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="m-input-icon m-input-icon--left">
                                            <input type="text" class="form-control m-input" placeholder="Search..." id="tbxSearch">
                                            <span class="m-input-icon__icon m-input-icon__icon--left">
                                                <span>
                                                    <i class="la la-search"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                                <button class="btn btn-warning" type="button" id="btndownload"><i class="la la-download"></i> Excel</button>
                                <button type="button" class="btn blue-oleo btBack">
                                    <i class="fa fa-chevron-left"></i> Back
                                </button>
                                <div class="m-separator m-separator--dashed d-xl-none"></div>
                            </div>
                        </div>
                    </div>
                    <!--end: Search Form -->
                    <!--begin: Datatable -->
                    @*<div class="text-center">
            <button type="button" class="btn blue-oleo btBackDetailRegion">
                <i class="fa fa-chevron-left"></i> Back
            </button>
        </div>*@


                    <div class="m_datatable" id="divDetailKecerdasanChartList">

                    </div>

                    @*<div class="m_datatable" id="divDetailAccuracyChartList">

                    </div>*@


                    <!--end: Datatable -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="m-content pnlHeaderAccuracy">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Detail Accuracy
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="m-portlet__body">
                    <!--begin: Search Form -->
                    <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                        <div class="row align-items-center">
                            <div class="col-xl-8 order-2 order-xl-1">
                                <div class="form-group m-form__group row align-items-center">
                                    <div class="col-md-5">
                                        <div class="m-form__group m-form__group--inline">
                                            <div class="m-form__label">
                                                <label class="m-label m-label--single">
                                                    <span>
                                                        Search:
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="m-form__control">
                                                <select class="form-control m-bootstrap-select" id="slsKecerdasan"></select>
                                            </div>
                                        </div>
                                        <div class="d-md-none m--margin-bottom-10"></div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="m-input-icon m-input-icon--left">
                                            <input type="text" class="form-control m-input" placeholder="Search..." id="tbxSearch">
                                            <span class="m-input-icon__icon m-input-icon__icon--left">
                                                <span>
                                                    <i class="la la-search"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                                <button class="btn btn-warning" type="button" id="btndownloadAccuracy"><i class="la la-download"></i> Excel</button>
                                <button type="button" class="btn blue-oleo btBack">
                                    <i class="fa fa-chevron-left"></i> Back
                                </button>
                                <div class="m-separator m-separator--dashed d-xl-none"></div>
                            </div>
                        </div>
                    </div>
                    <!--end: Search Form -->
                    <!--begin: Datatable -->
                    @*<div class="text-center">
                            <button type="button" class="btn blue-oleo btBackDetailRegion">
                                <i class="fa fa-chevron-left"></i> Back
                            </button>
                        </div>*@


                    <div class="m_datatable" id="divDetailAccuracyChartList">

                    </div>


                    <!--end: Datatable -->
                </div>
            </div>
        </div>
    </div>
</div>


@*<script src="@Url.Content("~/Scripts/amcharts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/serial.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/pie.js")" type="text/javascript"></script>*@

@*<script src="~/Content/global/scripts/amchart.4.5.9_core.js"></script>
    <script src="~/Content/global/scripts/amchart4.js"></script>
    <script src="~/Content/global/scripts/animated.js"></script>*@
@*<script src="~/Content/global/plugins/highcharts/js/modules/exporting.js"></script>*@
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>*@
