﻿
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*style="background-image: url(../../Content/images/background/background.png);*@
<div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-grid__item m-grid__item--fluid m-grid  m-error-3" style="background-image: url(../../Content/images/background/logo.jpg) ;height:30px;" id="themebg">
        <div class="m-error_container">
            <br /><br /><br />
            <p class="m-error_title m--font-danger">
                Welcome to
            </p>
        </div>
    </div>    
</div>
