﻿@{
    ViewBag.Title = "Master Jurusan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/theme/assets/dropify/dropify.min.css" rel="stylesheet">
@*<div class="card pnlHeader" display="none;">*@
    <div class="m-content pnlHeader">
        <div class="row">
            <div class="col-lg-12">
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Jurusan List
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="m-portlet__body">
                        <!--begin: Search Form -->
                        <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                            <div class="row align-items-center">
                                <div class="col-xl-8 order-2 order-xl-1">
                                    <div class="form-group m-form__group row align-items-center">
                                        <div class="col-md-5">
                                            <div class="m-form__group m-form__group--inline">
                                                <div class="m-form__label">
                                                    <label class="m-label m-label--single">
                                                        <span>
                                                            Search:
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="m-form__control">
                                                    <select class="form-control m-bootstrap-select" id="slsProjectManager"></select>
                                                </div>
                                            </div>
                                            <div class="d-md-none m--margin-bottom-10"></div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="m-input-icon m-input-icon--left">
                                                <input type="text" class="form-control m-input" placeholder="Search..." id="tbxSearch">
                                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                                    <span>
                                                        <i class="la la-search"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                                    <a href="#" class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill" id="btnAddData">
                                        <span>
                                            <i class="fa fa-plus"></i>
                                            <span>
                                                New Data
                                            </span>
                                        </span>
                                    </a>
                                    <div class="m-separator m-separator--dashed d-xl-none"></div>
                                </div>
                            </div>
                        </div>
                        <!--end: Search Form -->
                        <!--begin: Datatable -->
                        <div class="m_datatable" id="divJurusanList">

                        </div>

                       
                        <!--end: Datatable -->
                    </div>
                </div>
            </div>
        </div>
    </div>
@*</div>*@
   

@*<div class="card pnlDetail">*@
    <div class="m-content pnlDetail" display="none;">
        <div class="row">
            <div class="col-lg-12">

                <!--begin::Portlet-->
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Create Data
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!--begin::Form-->
                    <form class="m-form m-form--fit m-form--label-align-right" id="MstJurusanForm">

                        <div class="m-form__content">
                            <div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="msgProjectFail">
                                <div class="m-alert__icon">
                                    <i class="la la-warning"></i>
                                </div>
                                <div class="m-alert__text">
                                    Oh sorry! Please check your form project again :).
                                </div>
                                <div class="m-alert__close">
                                    <button type="button" class="close" data-close="alert" aria-label="Close"></button>
                                </div>
                            </div>
                        </div>

                        <div class="m-portlet__body">
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    Kecerdasan<strong style="color:red" ;>*</strong>:
                                </label>
                                <div class="col-lg-6">
                                    <select class="form-control m-select2" id="slsKodeKecerdasan" required></select>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    Category Jurusan <strong style="color:red" ;>*</strong>:
                                </label>
                                <div class="col-lg-6">
                                    <select class="form-control m-select2" id="slsCategoryJurusan" required></select>
                                </div>
                            </div>
                            <div class="form-group m-form__group row clsJurusan">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    Jurusan:
                                </label>
                                <div class="col-lg-6">
                                    <input class="form-control" id="IdJurusan" name="IdJurusan" display="none;" />
                                    <input class="form-control" id="Jurusan" name="Jurusan" />
                                </div>
                            </div>
                            <div class="form-group m-form__group row objUpload" id="objUploadFile">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    Upload Foto:
                                </label>
                                <div class="col-sm-6">
                                    <input type="file" class="form-control dropify" id="fuEvidence" name="files[]">
                                </div>
                            </div>
                        </div>

                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions m-form__actions">
                                <div class="row">
                                    <div class="col-lg-9 ml-lg-auto">
                                        <button id="btnCancel" class="btn btn-secondary">
                                            Cancel
                                        </button>
                                        <button id="btnCreate" type="submit" class="btn btn-success">
                                            Create
                                        </button>
                                        <button id="btnUpdate" type="submit" class="btn btn-success">
                                            Update
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Portlet-->
            </div>
        </div>
    </div>
@*</div>*@


    @*<input type="hidden" id="inptRole" value="@ViewBag.RoleID " />*@

<script src="@Url.Content("~/js/MasterData/MstJurusan.js")" type="text/javascript"></script>
<script src="~/theme/assets/dropify/dropify.min.js"></script>
