﻿@{
    ViewBag.Title = "Master User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/Common.js"></script>
<script src="~/js/MasterData/MstUser.js"></script>

<div class="m-content pnlHeader">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                User List
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="m-portlet__body">
                    <!--begin: Search Form -->
                    <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                        <div class="row align-items-center">
                            <div class="col-xl-8 order-2 order-xl-1">
                                <div class="form-group m-form__group row align-items-center">
                                    <div class="col-md-5">
                                        <div class="m-form__group m-form__group--inline">
                                            <div class="m-form__label">
                                                <label class="m-label m-label--single">
                                                    <span>
                                                        Search:
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="m-form__control">
                                                <select class="form-control m-bootstrap-select" id="slsProjectManager"></select>
                                            </div>
                                        </div>
                                        <div class="d-md-none m--margin-bottom-10"></div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="m-input-icon m-input-icon--left">
                                            <input type="text" class="form-control m-input" placeholder="Search..." id="tbxSearch">
                                            <span class="m-input-icon__icon m-input-icon__icon--left">
                                                <span>
                                                    <i class="la la-search"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 order-1 order-xl-2 m--align-right AddData">
                                <a href="/MasterData/MstUser" class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                                    <span>
                                        <i class="fa fa-plus"></i>
                                        <span>
                                            New Data
                                        </span>
                                    </span>
                                </a>
                                <div class="m-separator m-separator--dashed d-xl-none"></div>
                            </div>
                        </div>
                    </div>
                    <!--end: Search Form -->
                    <!--begin: Datatable -->
                    <div class="m_datatable" id="divUserList">
                        @*<div class="dt-responsive table-responsive">
                                <table id="tblMstUser class="table table-striped table-hover table-bordered nowrap">
                                    <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th>UserID</th>
                                            <th>Nama</th>
                                            <th>Tanggal Lahir</th>
                                            <th>Gender</th>
                                            <th>Alamat</th>
                                            <th>UserName</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>*@

                    </div>
                    <!--end: Datatable -->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="m-content pnlDetail">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Create Account
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right" id="MstUserForm">

                    <div class="m-form__content">
                        <div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="msgLogFail">
                            <div class="m-alert__icon">
                                <i class="la la-warning"></i>
                            </div>
                            <div class="m-alert__text">
                                Oh sorry! Please check your form Log again :).
                            </div>
                            <div class="m-alert__close">
                                <button type="button" class="close" data-close="alert" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>

                    <div class="m-portlet__body">

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-4 col-sm-12">
                                Full Name <strong style="color:red" ;>*</strong>:
                            </label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control m-input" name="Nama" id="Nama" required />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-4 col-sm-12">
                                User Name <strong style="color:red" ;>*</strong>:
                            </label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control m-input" name="UserName" id="UserName" required />
                                <input type="hidden" class="form-control m-input" name="UserID" id="UserID" required />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-4 col-sm-12">
                                Jenis Kelamin <strong style="color:red" ;>*</strong>:
                            </label>
                            <div class="col-lg-6">
                                <select type="text" class="form-control m-input select2" name="JenisKelamin" id="JenisKelamin" required >
                                    <option value="1">Laki-Laki</option>
                                    <option value="2">Perempuan</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-4 col-sm-12">
                                Tempat Lahir <strong style="color:red" ;>*</strong>:
                            </label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control m-input" name="TempatLahir" id="TempatLahir" required />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-4 col-sm-12">
                                Tgl Lahir <strong style="color:red" ;>*</strong>:
                            </label>
                            <div class="col-lg-6">
                                <div class="input-group date">
                                    <input type="text" class="form-control m-input datepicker" name="TglLahir" readonly id="TglLahir" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-4 col-sm-12">
                                Alamat <strong style="color:red" ;>*</strong>:
                            </label>
                            <div class="col-lg-6">
                                <textarea type="text" class="form-control m-input" name="Alamat" id="Alamat" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-4 col-sm-12">
                                Email <strong style="color:red" ;>*</strong>:
                            </label>
                            <div class="col-lg-6">
                                <input type="email" class="form-control m-input" name="Email" id="Email" required />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-4 col-sm-12">
                                No Telp <strong style="color:red" ;>*</strong>:
                            </label>
                            <div class="col-lg-6">
                                <input type="tel" class="form-control m-input" maxlength="13" name="NoTelp" id="NoTelp" required />
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions">
                            <div class="row">
                                <div class="col-lg-9 ml-lg-auto">
                                    <button id="btnCancel" class="btn btn-secondary">
                                        Cancel
                                    </button>
                                    <button id="btnCreate" type="submit" class="btn btn-success">
                                        Create
                                    </button>
                                    <button id="btnUpdate" class="btn btn-success">
                                        Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>

    </div>
</div>
