<script src="~/js/Common.js"></script>
<script src="~/js/FlowApp/MstObject.js"></script>
<div class="card pnlHeader">
    <div class="card-header">
        <div class="data-table-main icon-list-demo">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 outer-ellipsis">
                <i class="icofont icofont-list"></i><h5>Master .....</h5>
               </div>
               <div class="col-md-6 text-right">
                    <button class="btn btn-primary btn-round btnAddData">Add More</button>
               </div>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive table-responsive">
            <table id="tblMstObject" class="table table-striped table-hover table-bordered nowrap">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Mst Object Id</th>
                        <th>Object Parent Id</th>
                        <th>Object Name</th>
                        <th>Sort</th>
                        <th>System Id</th>
                        <th>Project Id</th>
                        <th>Created Date</th>
                        <th>Created By</th>
                        <th>Updated Date</th>
                        <th>Updated By</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="card pnlDetail">
    <div class="card-header">
        <div class="data-table-main icon-list-demo">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 outer-ellipsis">
                    <i class="icofont icofont-list"></i><h5>Form Input .....</h5>
               </div>
            </div>
        </div>
    </div>
    <div class="card-block">
        <form id="MstObjectForm" method="post" novalidate="">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Mst Object Id</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="MstObjectId" id="MstObjectId" placeholder="Text Input Mst Object Id">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Object Parent Id</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="ObjectParentId" id="ObjectParentId" placeholder="Text Input Object Parent Id">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Object Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="ObjectName" id="ObjectName" placeholder="Text Input Object Name">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Sort</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="Sort" id="Sort" placeholder="Text Input Sort">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">System Id</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="SystemId" id="SystemId" placeholder="Text Input System Id">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Project Id</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="ProjectId" id="ProjectId" placeholder="Text Input Project Id">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Created Date</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="CreatedDate" id="CreatedDate" placeholder="Text Input Created Date">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Created By</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="CreatedBy" id="CreatedBy" placeholder="Text Input Created By">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Updated Date</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="UpdatedDate" id="UpdatedDate" placeholder="Text Input Updated Date">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Updated By</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="UpdatedBy" id="UpdatedBy" placeholder="Text Input Updated By">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary m-b-0 btnSubmit"><i class="icofont icofont-save"></i> Submit</button> &nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-warning m-b-0 btnCancel"><i class="icofont icofont-close-line-circled"></i> Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
