<script src="~/js/Common.js"></script>
<script src="~/js/MasterData/MstJurusanCategory.js"></script>
<div class="card pnlHeader">
    <div class="card-header">
        <div class="data-table-main icon-list-demo">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 outer-ellipsis">
                <i class="icofont icofont-list"></i><h5>Master .....</h5>
               </div>
               <div class="col-md-6 text-right">
                    <button class="btn btn-primary btn-round btnAddData">Add More</button>
               </div>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive table-responsive">
            <table id="tblMstJurusanCategory" class="table table-striped table-hover table-bordered nowrap">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Id Jurusan Catgeory</th>
                        <th>Kode Jurusan Category</th>
                        <th>Jurusan Category</th>
                        <th>Created By</th>
                        <th>Created Date</th>
                        <th>Updated By</th>
                        <th>Update Date</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="card pnlDetail">
    <div class="card-header">
        <div class="data-table-main icon-list-demo">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 outer-ellipsis">
                    <i class="icofont icofont-list"></i><h5>Form Input .....</h5>
               </div>
            </div>
        </div>
    </div>
    <div class="card-block">
        <form id="MstJurusanCategoryForm" method="post" novalidate="">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Id Jurusan Catgeory</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="IdJurusanCatgeory" id="IdJurusanCatgeory" placeholder="Text Input Id Jurusan Catgeory">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Kode Jurusan Category</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="KodeJurusanCategory" id="KodeJurusanCategory" placeholder="Text Input Kode Jurusan Category">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Jurusan Category</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="JurusanCategory" id="JurusanCategory" placeholder="Text Input Jurusan Category">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Created By</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="CreatedBy" id="CreatedBy" placeholder="Text Input Created By">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Created Date</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="CreatedDate" id="CreatedDate" placeholder="Text Input Created Date">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Updated By</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="UpdatedBy" id="UpdatedBy" placeholder="Text Input Updated By">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Update Date</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="UpdateDate" id="UpdateDate" placeholder="Text Input Update Date">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary m-b-0 btnSubmit"><i class="icofont icofont-save"></i> Submit</button> &nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-warning m-b-0 btnCancel"><i class="icofont icofont-close-line-circled"></i> Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
