<script src="~/js/Common.js"></script>
<script src="~/js/MasterData/MstKecerdasanCategory.js"></script>
<div class="card pnlHeader">
    <div class="card-header">
        <div class="data-table-main icon-list-demo">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 outer-ellipsis">
                <i class="icofont icofont-list"></i><h5>Master .....</h5>
               </div>
               <div class="col-md-6 text-right">
                    <button class="btn btn-primary btn-round btnAddData">Add More</button>
               </div>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive table-responsive">
            <table id="tblMstKecerdasanCategory" class="table table-striped table-hover table-bordered nowrap">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Id Kecerdasan Category</th>
                        <th>Kode Category</th>
                        <th>Category Name</th>
                        <th>Created Date</th>
                        <th>Created By</th>
                        <th>Updated Date</th>
                        <th>Update By</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="card pnlDetail">
    <div class="card-header">
        <div class="data-table-main icon-list-demo">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 outer-ellipsis">
                    <i class="icofont icofont-list"></i><h5>Form Input .....</h5>
               </div>
            </div>
        </div>
    </div>
    <div class="card-block">
        <form id="MstKecerdasanCategoryForm" method="post" novalidate="">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Id Kecerdasan Category</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="IdKecerdasanCategory" id="IdKecerdasanCategory" placeholder="Text Input Id Kecerdasan Category">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Kode Category</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="KodeCategory" id="KodeCategory" placeholder="Text Input Kode Category">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Category Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="CategoryName" id="CategoryName" placeholder="Text Input Category Name">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Created Date</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="CreatedDate" id="CreatedDate" placeholder="Text Input Created Date">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Created By</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="CreatedBy" id="CreatedBy" placeholder="Text Input Created By">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Updated Date</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="UpdatedDate" id="UpdatedDate" placeholder="Text Input Updated Date">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Update By</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="UpdateBy" id="UpdateBy" placeholder="Text Input Update By">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary m-b-0 btnSubmit"><i class="icofont icofont-save"></i> Submit</button> &nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-warning m-b-0 btnCancel"><i class="icofont icofont-close-line-circled"></i> Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
