<script src="~/js/Common.js"></script>
<script src="~/js/MasterData/vwDetailChartCategoryUtilized.js"></script>
<div class="card pnlHeader">
    <div class="card-header">
        <div class="data-table-main icon-list-demo">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 outer-ellipsis">
                <i class="icofont icofont-list"></i><h5>Master .....</h5>
               </div>
               <div class="col-md-6 text-right">
                    <button class="btn btn-primary btn-round btnAddData">Add More</button>
               </div>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive table-responsive">
            <table id="tblvwDetailChartCategoryUtilized" class="table table-striped table-hover table-bordered nowrap">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Nama</th>
                        <th>Sangat Tidak Setuju</th>
                        <th>Tidak Setuju</th>
                        <th>Kurang Setuju</th>
                        <th>Setuju</th>
                        <th>Kode Category</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="card pnlDetail">
    <div class="card-header">
        <div class="data-table-main icon-list-demo">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 outer-ellipsis">
                    <i class="icofont icofont-list"></i><h5>Form Input .....</h5>
               </div>
            </div>
        </div>
    </div>
    <div class="card-block">
        <form id="vwDetailChartCategoryUtilizedForm" method="post" novalidate="">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nama</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="Nama" id="Nama" placeholder="Text Input Nama">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Sangat Tidak Setuju</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="SangatTidakSetuju" id="SangatTidakSetuju" placeholder="Text Input Sangat Tidak Setuju">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Tidak Setuju</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="TidakSetuju" id="TidakSetuju" placeholder="Text Input Tidak Setuju">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Kurang Setuju</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="KurangSetuju" id="KurangSetuju" placeholder="Text Input Kurang Setuju">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Setuju</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="Setuju" id="Setuju" placeholder="Text Input Setuju">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Kode Category</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="KodeCategory" id="KodeCategory" placeholder="Text Input Kode Category">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary m-b-0 btnSubmit"><i class="icofont icofont-save"></i> Submit</button> &nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-warning m-b-0 btnCancel"><i class="icofont icofont-close-line-circled"></i> Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
