<script src="~/js/Common.js"></script>
<script src="~/js/School/VwTrxExam.js"></script>
<div class="card pnlHeader">
    <div class="card-header">
        <div class="data-table-main icon-list-demo">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 outer-ellipsis">
                <i class="icofont icofont-list"></i><h5>Master .....</h5>
               </div>
               <div class="col-md-6 text-right">
                    <button class="btn btn-primary btn-round btnAddData">Add More</button>
               </div>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive table-responsive">
            <table id="tblVwTrxExam" class="table table-striped table-hover table-bordered nowrap">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Trx Lesson Id</th>
                        <th>Teacher Id</th>
                        <th>Lesson Id</th>
                        <th>Lesson Year</th>
                        <th>Class Room Id</th>
                        <th>Standard Score</th>
                        <th>Semester</th>
                        <th>Created Date</th>
                        <th>Created By</th>
                        <th>Updated Date</th>
                        <th>Updated By</th>
                        <th>Class Room Code</th>
                        <th>Class Room Name</th>
                        <th>Teacher Name</th>
                        <th>Lesson Name</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="card pnlDetail">
    <div class="card-header">
        <div class="data-table-main icon-list-demo">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 outer-ellipsis">
                    <i class="icofont icofont-list"></i><h5>Form Input .....</h5>
               </div>
            </div>
        </div>
    </div>
    <div class="card-block">
        <form id="VwTrxExamForm" method="post" novalidate="">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Trx Lesson Id</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="TrxLessonId" id="TrxLessonId" placeholder="Text Input Trx Lesson Id">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Teacher Id</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="TeacherId" id="TeacherId" placeholder="Text Input Teacher Id">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Lesson Id</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="LessonId" id="LessonId" placeholder="Text Input Lesson Id">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Lesson Year</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="LessonYear" id="LessonYear" placeholder="Text Input Lesson Year">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Class Room Id</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="ClassRoomId" id="ClassRoomId" placeholder="Text Input Class Room Id">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Standard Score</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="StandardScore" id="StandardScore" placeholder="Text Input Standard Score">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Semester</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="Semester" id="Semester" placeholder="Text Input Semester">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Created Date</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="CreatedDate" id="CreatedDate" placeholder="Text Input Created Date">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Created By</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="CreatedBy" id="CreatedBy" placeholder="Text Input Created By">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Updated Date</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="UpdatedDate" id="UpdatedDate" placeholder="Text Input Updated Date">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Updated By</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="UpdatedBy" id="UpdatedBy" placeholder="Text Input Updated By">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Class Room Code</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="ClassRoomCode" id="ClassRoomCode" placeholder="Text Input Class Room Code">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Class Room Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="ClassRoomName" id="ClassRoomName" placeholder="Text Input Class Room Name">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Teacher Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="TeacherName" id="TeacherName" placeholder="Text Input Teacher Name">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Lesson Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="LessonName" id="LessonName" placeholder="Text Input Lesson Name">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary m-b-0 btnSubmit"><i class="icofont icofont-save"></i> Submit</button> &nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-warning m-b-0 btnCancel"><i class="icofont icofont-close-line-circled"></i> Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
