﻿@{
    ViewBag.Title = "Master Jurusan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/js/Common.js"></script>
<script src="~/js/Test/TestMinatBakat.js"></script>


<div class="m-content pnlDetail" display="none;">
    <div class="row">
        <div class="col-lg-12">

            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Create Data
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right" id="MstJurusanForm">

                    <div class="m-form__content">
                        <div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="msgProjectFail">
                            <div class="m-alert__icon">
                                <i class="la la-warning"></i>
                            </div>
                            <div class="m-alert__text">
                                Oh sorry! Please check your form project again :).
                            </div>
                            <div class="m-alert__close">
                                <button type="button" class="close" data-close="alert" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>

                    <div class="m-portlet__body">
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3 col-sm-12" id="lblSoal">
                                Soal <strong style="color:red" ;>*</strong>:
                            </label>
                        </div>
                        <div class="form-group m-form__group row">
                            <table id="upload-table">
                                <tbody class="item">
                                    <label class="col-form-label col-lg-3 col-sm-12" id="lbSoal">
                                    </label>
                                    <tr id="item_1">
                                        <div class="col-lg-4 col-md-9 col-sm-12 icheck-inline" id="item">
                                            <label id="lblSangatTidakSetuju_">
                                                <input id="rdoSangatTidakSetuju" type="radio" name="rdoLogFilter" class="icheck" data-radio="iradio_flat-blue" checked> Sangat Tidak Setuju
                                            </label>
                                            <label id="lblKurangSetuju_">
                                                <input id="rdoKurangSetuju" type="radio" name="rdoLogFilter" class="icheck" data-radio="iradio_flat-blue"> KurangSetuju
                                            </label>
                                            <label id="lblTidakSetuju_">
                                                <input id="rdoTidakSetuju" type="radio" name="rdoLogFilter" class="icheck" data-radio="iradio_flat-blue"> Tidak Setuju
                                            </label>
                                            <label id="lblSetuju_">
                                                <input id="rdoSetuju" type="radio" name="rdoLogFilter" class="icheck" data-radio="iradio_flat-blue"> Setuju
                                            </label>
                                        </div>
                                    </tr>
                                </tbody>
                                    
                            </table>
                        </div>

                        <!--<table id="upload-table">
                            <tbody class="item">
                                <label class="col-md-3 control-label" id="lbsourceData">Column Info<i class="font-red"></i></label>
                                <tr id="item_1">-->
                        @*<div class="form-group">*@
                        <!--<div class="col-md-9">
                            <div class="custom-file">
                                <a class="btn btn-xs green btnSaveColumnFirst" href="javascript:void(0)" id="btAddColumnInfo"><i class='fa fa-plus'></i></a>-->
                        @*<input type="text" id="tbColumnInfo1" Class="form-control itmm" maxlength="100" placeholder="Column Info" />*@
                        <!--</div>
                        </div>-->
                        @*</div>*@
                        <!--</tr>
                            </tbody>
                        </table>-->

                    </div>

                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions">
                            <div class="row">
                                <div class="col-lg-9 ml-lg-auto">
                                    <button id="btnCancel" class="btn btn-secondary">
                                        Cancel
                                    </button>
                                    <button id="btnCreate" type="submit" class="btn btn-success">
                                        Create
                                    </button>
                                    <button id="btnUpdate" type="submit" class="btn btn-success">
                                        Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>
@*<script src="@Url.Content("~/js/Test/TestMinatBakat.js")" type="text/javascript"></script>*@