﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@*<script src="@Url.Content("~/js/login.js")" type="text/javascript"></script>*@
<div class="m-login__signin clsLogin">
    <div class="m-login__head">
        <h3 class="m-login__title">
            Welcome to ...
        </h3>
    </div>
    <form class="m-login__form m-form" action="">
        <div class="form-group m-form__group">
            <input id="tbxUserID" class="form-control m-input" type="text" placeholder="User ID" name="UserID" autocomplete="off" required>
        </div>
        <div class="form-group m-form__group">
            <input id="tbxPassword" class="form-control m-input m-login__form-input--last" type="password" name="Password" placeholder="Password" required>
        </div>
        <div class="m-login__form-action">
            <button id="btnSubmit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
                Sign In
            </button>
        </div>
        <div class="m-login__form-action">
            <label><a href="#">Forgot Password?</a></label> <br />
            <label id="lblRegister">Not Registered? <a href="/Home/Register"><b>Sign Up</b></a></label>
        </div>
    </form>
</div>


<!--<div class="m-content clsRegister">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Create Account
                            </h3>
                        </div>
                    </div>
                </div>-->
                <!--begin::Form-->
                <!--<form class="m-form m-form--fit m-form--label-align-right" id="MstUserForm">

                    <div class="m-form__content">
                        <div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="msgLogFail">
                            <div class="m-alert__icon">
                                <i class="la la-warning"></i>
                            </div>
                            <div class="m-alert__text">
                                Oh sorry! Please check your form Log again :).
                            </div>
                            <div class="m-alert__close">
                                <button type="button" class="close" data-close="alert" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>

                    <div class="m-portlet__body">

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-4 col-sm-12">
                                Full Name <strong style="color:red" ;>*</strong>:
                            </label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control m-input" name="Nama" id="Nama" required />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-4 col-sm-12">
                                User Name <strong style="color:red" ;>*</strong>:
                            </label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control m-input" name="UserName" id="UserName" required />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-4 col-sm-12">
                                Password <strong style="color:red" ;>*</strong>:
                            </label>
                            <div class="col-lg-6">
                                <input type="password" class="form-control m-input" name="Password" id="Password" required />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-4 col-sm-12">
                                Confirm Password <strong style="color:red" ;>*</strong>:
                            </label>
                            <div class="col-lg-6">
                                <input type="password" class="form-control m-input" name="tbxConfirmPassword" id="tbxConfirmPassword" required />
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions">
                            <div class="row">
                                <div class="col-lg-9 ml-lg-auto">
                                    <button onclick="JavaScript: window.history.back(1); return false;" class="btn btn-secondary">
                                        Cancel
                                    </button>
                                    <button id="btnRegister" type="submit" class="btn btn-success">
                                        Create
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>-->
                <!--end::Form-->
            <!--</div>
        </div>

    </div>
</div>-->

@*<script src="~/js/MasterData/MstUser.js"></script>*@
