﻿@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


@*<script src="http://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>*@
@*<script src="~/js/Common.js"></script>
<script src="~/js/MasterData/MstUser.js"></script>*@

<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Create Account
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right" id="MstUserForm">

                    <div class="m-form__content">
                        <div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="msgLogFail">
                            <div class="m-alert__icon">
                                <i class="la la-warning"></i>
                            </div>
                            <div class="m-alert__text">
                                Oh sorry! Please check your form Log again :).
                            </div>
                            <div class="m-alert__close">
                                <button type="button" class="close" data-close="alert" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>

                    <div class="m-portlet__body">

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-4 col-sm-12">
                                Full Name <strong style="color:red" ;>*</strong>:
                            </label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control m-input" name="Nama" id="Nama" required />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-4 col-sm-12">
                                User Name <strong style="color:red" ;>*</strong>:
                            </label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control m-input" name="UserName" id="UserName" required />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-4 col-sm-12">
                                Tempat Lahir <strong style="color:red" ;>*</strong>:
                            </label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control m-input" name="TempatLahir" id="TempatLahir" required />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-4 col-sm-12">
                                Tgl Lahir <strong style="color:red" ;>*</strong>:
                            </label>
                            <div class="col-lg-6">
                                <div class="input-group date">
                                    <input type="text" class="form-control m-input datepicker" name="TglLahir" readonly id="TglLahir" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-4 col-sm-12">
                                Alamat <strong style="color:red" ;>*</strong>:
                            </label>
                            <div class="col-lg-6">
                                <textarea type="text" class="form-control m-input" name="Alamat" id="Alamat" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-4 col-sm-12">
                                Email <strong style="color:red" ;>*</strong>:
                            </label>
                            <div class="col-lg-6">
                                <input type="email" class="form-control m-input" name="Email" id="Email" required />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-4 col-sm-12">
                                No Telp <strong style="color:red" ;>*</strong>:
                            </label>
                            <div class="col-lg-6">
                                <input type="tel" class="form-control m-input" maxlength="13" name="NoTelp" id="NoTelp" required />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-4 col-sm-12">
                                Password <strong style="color:red" ;>*</strong>:
                            </label>
                            <div class="col-lg-6">
                                <input type="password" class="form-control m-input" name="Password" id="Password" required />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-4 col-sm-12">
                                Confirm Password <strong style="color:red" ;>*</strong>:
                            </label>
                            <div class="col-lg-6">
                                <input type="password" class="form-control m-input" name="tbxConfirmPassword" id="tbxConfirmPassword" required />
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions">
                            <div class="row">
                                <div class="col-lg-9 ml-lg-auto">
                                    <button onclick="JavaScript: window.history.back(1); return false;" class="btn btn-secondary">
                                        Cancel
                                    </button>
                                    <button id="btnRegister" type="submit" class="btn btn-success">
                                        Create
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>

    </div>
</div>


@*<script src="@Url.Content("~/js/Home/Register.js")" type="text/javascript"></script>*@

