<script src="~/js/Common.js"></script>
<script src="~/js/Workflow/WorkFlowLog.js"></script>
<div class="card pnlHeader">
    <div class="card-header">
        <div class="data-table-main icon-list-demo">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 outer-ellipsis">
                <i class="icofont icofont-list"></i><h5>Master .....</h5>
               </div>
               <div class="col-md-6 text-right">
                    <button class="btn btn-primary btn-round btnAddData">Add More</button>
               </div>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive table-responsive">
            <table id="tblWorkFlowLog" class="table table-striped table-hover table-bordered nowrap">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>WF LogID</th>
                        <th>WF HeaderID</th>
                        <th>WF Next Flag</th>
                        <th>Created By</th>
                        <th>Created Date</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="card pnlDetail">
    <div class="card-header">
        <div class="data-table-main icon-list-demo">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 outer-ellipsis">
                    <i class="icofont icofont-list"></i><h5>Form Input .....</h5>
               </div>
            </div>
        </div>
    </div>
    <div class="card-block">
        <form id="WorkFlowLogForm" method="post" novalidate="">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">WF LogID</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="WFLogID" id="WFLogID" placeholder="Text Input WF LogID">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">WF HeaderID</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="WFHeaderID" id="WFHeaderID" placeholder="Text Input WF HeaderID">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">WF Next Flag</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="WFNextFlag" id="WFNextFlag" placeholder="Text Input WF Next Flag">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Created By</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="CreatedBy" id="CreatedBy" placeholder="Text Input Created By">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Created Date</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="CreatedDate" id="CreatedDate" placeholder="Text Input Created Date">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Remarks</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="Remarks" id="Remarks" placeholder="Text Input Remarks">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form- label"></label>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary m-b-0 btnSubmit"><i class="icofont icofont-save"></i> Submit</button> &nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-warning m-b-0 btnCancel"><i class="icofont icofont-close-line-circled"></i> Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
