<script src="~/js/Common.js"></script>
<script src="~/js/Workflow/WorkFlowNextFlag.js"></script>
<div class="card pnlHeader">
    <div class="card-header">
        <div class="data-table-main icon-list-demo">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 outer-ellipsis">
                <i class="icofont icofont-list"></i><h5>Master .....</h5>
               </div>
               <div class="col-md-6 text-right">
                    <button class="btn btn-primary btn-round btnAddData">Add More</button>
               </div>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive table-responsive">
            <table id="tblWorkFlowNextFlag" class="table table-striped table-hover table-bordered nowrap">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Next FlagID</th>
                        <th>Next Flag</th>
                        <th>Sort</th>
                        <th>Is Show Up</th>
                        <th>RoleID</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="card pnlDetail">
    <div class="card-header">
        <div class="data-table-main icon-list-demo">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 outer-ellipsis">
                    <i class="icofont icofont-list"></i><h5>Form Input .....</h5>
               </div>
            </div>
        </div>
    </div>
    <div class="card-block">
        <form id="WorkFlowNextFlagForm" method="post" novalidate="">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Next FlagID</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="NextFlagID" id="NextFlagID" placeholder="Text Input Next FlagID">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Next Flag</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="NextFlag" id="NextFlag" placeholder="Text Input Next Flag">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Sort</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="Sort" id="Sort" placeholder="Text Input Sort">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Is Show Up</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="IsShowUp" id="IsShowUp" placeholder="Text Input Is Show Up">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">RoleID</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="RoleID" id="RoleID" placeholder="Text Input RoleID">
                    <span class="messages"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form- label"></label>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary m-b-0 btnSubmit"><i class="icofont icofont-save"></i> Submit</button> &nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-warning m-b-0 btnCancel"><i class="icofont icofont-close-line-circled"></i> Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
