﻿@using MachineLearningMinatBakat.Models;
@using LibrarySysDA.Helper;

@{
    var user = (MachineLearningMinatBakat.vmUserLogin)ViewBag.UserLogin;
}
<!DOCTYPE html>
<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>
        @ViewBag.Title
    </title>
    <meta name="description" content="Login Page">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Web font -->
    <!--begin::Base Styles -->
    <link href="@Url.Content("~/Content/assets/vendors/base/vendors.bundle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/demo/default/base/style.bundle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/global/plugins/js.cookie.min.js")" type="text/javascript"></script>
    <!--end::Base Styles -->

    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon2.png")">
</head>
<!-- end::Head -->
<!-- end::Body -->
<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <div id="divLogin" class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" style="background-image: url(../../Content/images/background/login-bg.jpg);">
            <div class="m-grid__item m-grid__item--fluid m-login__wrapper">
                <div class="m-login__container">
                    <div class="m-login__logo">
                        <a href="#">
                            <img src="@Url.Content("~/Content/images/bg2.png")" />
                        </a>
                    </div>
                    @RenderBody()
                    @RenderSection("js", required: false)
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Page -->
    <!--begin::Base Scripts -->
    <script src="@Url.Content("~/Content/assets/vendors/base/vendors.bundle.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/demo/default/base/scripts.bundle.js")" type="text/javascript"></script>
    <!--end::Base Scripts -->
    <!--begin::Page Snippets -->
    <script src="@Url.Content("~/js/login.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/MasterData/MstUser.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/Common.js")" type="text/javascript"></script>
    @*<script src="~/js/Common.js"></script>*@
    @*<script src="/lib/jquery.min.js"></script>
        <script src="/lib/jquery.plugin.js"></script>*@
    @*<script src="~/theme/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>*@
    <!--end::Page Snippets -->
</body>
<!-- end::Body -->
</html>
