﻿@*@using TeamMate.Domain.Models;
    @using TeamMate.Web.Helpers;

    @{
        var user = (TeamMate.Domain.Models.vmUserLogin)ViewBag.UserLogin;
    }*@
<!DOCTYPE html>
<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>
        @ViewBag.Title
    </title>
    <meta name="description" content="Shared Layout">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    @*<script src="~/Content/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="~/Content/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="~/Content/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/Content/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="~/Content/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>*@

    <!--end::Web font -->
    <!--begin::Base Styles -->
    <link href="@Url.Content("~/Content/assets/vendors/base/vendors.bundle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/demo/default/base/style.bundle.css")" rel="stylesheet" type="text/css" id="themestyle" />
    <link href="@Url.Content("~/Content/custom.css")" rel="stylesheet" />
    <!--end::Base Styles -->
    <!--begin::Base Scripts -->
    <script src="@Url.Content("~/Content/assets/vendors/base/vendors.bundle.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/demo/default/base/scripts.bundle.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/Common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/global/plugins/word-cloud/d3.min.js")"></script>
    <script src="@Url.Content("~/Content/global/plugins/word-cloud/d3.layout.cloud.js")"></script>
    <!--end::Base Scripts -->
    <!--begin::Page Snippets -->
    @*<script src="assets/app/js/dashboard.js" type="text/javascript"></script>*@
    <!--end::Page Snippets -->

<link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon2.png")">
</head>
<!-- end::Head -->
<!-- end::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <!-- BEGIN: Header -->
        @*  *@
        <!-- END: Header -->
        <!-- begin::Body -->
        <!--<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">-->
        <!-- BEGIN: Left Aside -->
        <!--<button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
            <i class="la la-close"></i>
        </button>
        <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">-->
        <!-- BEGIN: Aside Menu -->
        <!--<div id="m_ver_menu"
             class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark "
             m-menu-vertical="1"
             m-menu-scrollable="0" m-menu-dropdown-timeout="500">-->
        <!-- Menu: Dashboard -->
        <!--<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
                <li class="m-menu__section">
                    <h4 class="m-menu__section-text">
                        Dashboard Admin
                    </h4>
                    <i class="m-menu__section-icon flaticon-more-v3"></i>
                </li>
                <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover" id="DashboardProject">
                    <a href="javascript:;" class="m-menu__link m-menu__toggle">
                        <i class="m-menu__link-icon flaticon-line-graph"></i>
                        <span class="m-menu__link-text">
                            Master Data
                        </span>
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="m-menu__submenu ">
                        <span class="m-menu__arrow"></span>
                        <ul class="m-menu__subnav">
                            <li class="m-menu__item " aria-haspopup="true">
                                <a href="/MasterData/UserList" class="m-menu__link ">
                                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                        <span></span>
                                    </i>
                                    <span class="m-menu__link-text">
                                        User
                                    </span>
                                </a>
                            </li>
                            <li class="m-menu__item " aria-haspopup="true">
                                <a href="/MasterData/MstJurusanCategory" class="m-menu__link ">
                                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                        <span></span>
                                    </i>
                                    <span class="m-menu__link-text">
                                        Category Jurusan
                                    </span>
                                </a>
                            </li>
                            <li class="m-menu__item " aria-haspopup="true">
                                <a href="/MasterData/Jurusan" class="m-menu__link ">
                                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                        <span></span>
                                    </i>
                                    <span class="m-menu__link-text">
                                        Jurusan
                                    </span>
                                </a>
                            </li>
                            <li class="m-menu__item " aria-haspopup="true">
                                <a href="/MasterData/MetodePakar" class="m-menu__link ">
                                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                        <span></span>
                                    </i>
                                    <span class="m-menu__link-text">
                                        Metode Pakar
                                    </span>
                                </a>
                            </li>
                            <li class="m-menu__item " aria-haspopup="true">
                                <a href="/MasterData/CategoryKecerdasan" class="m-menu__link ">
                                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                        <span></span>
                                    </i>
                                    <span class="m-menu__link-text">
                                        Category Kecerdasan
                                    </span>
                                </a>
                            </li>
                            <li class="m-menu__item " aria-haspopup="true">
                                <a href="/MasterData/MstMappingKecerdasan" class="m-menu__link ">
                                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                        <span></span>
                                    </i>
                                    <span class="m-menu__link-text">
                                        Mapping Kecerdasan
                                    </span>
                                </a>
                            </li>
                            <li class="m-menu__item " aria-haspopup="true">
                                <a href="/MasterData/MstSoal" class="m-menu__link ">
                                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                        <span></span>
                                    </i>
                                    <span class="m-menu__link-text">
                                        Soal
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="m-menu__item sidebarActive" aria-haspopup="true" id="DashboardQA">
                    <a href="/Dashboard/DataAnalitics" class="m-menu__link">
                        <i class="m-menu__link-icon flaticon-analytics"></i>
                        <span class="m-menu__link-text">
                            Data Analytic
                        </span>
                    </a>
                </li>

            </ul>

        </div>-->
        <!-- END: Aside Menu -->
        <!--</div>-->
        <!-- END: Left Aside -->
        <!--<div class="m-grid__item m-grid__item--fluid m-wrapper">-->
        <!-- BEGIN: Subheader -->
        <!-- END: Subheader -->
        <!--@RenderBody()
                @RenderSection("js", required: false)

            </div>
        </div>-->
        <!-- end:: Body -->
        <!-- begin::Footer -->
        <footer class="m-grid__item		m-footer ">
            <div class="m-container m-container--fluid m-container--full-height m-page__container">
                <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                    <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                        <span class="m-footer__copyright">
                            @ViewBag.CopyrightYear &copy;
                            <a class="m-link">
                                TMB -<b> Tes Minat Bakat</b>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end::Footer -->
    </div>
    <!-- end:: Page -->
    <!-- begin::Scroll Top -->
    <div id="m_scroll_top" class="m-scroll-top">
        <i class="la la-arrow-up"></i>
    </div>
    <!-- end::Scroll Top -->
</body>
<!-- end::Body -->
</html>
<input type="hidden" id="hdThemeID" value="@ViewBag.ThemeID" />

@*<script src="@Url.Content("~/js/MstUser.js")" type="text/javascript"></script>*@
